# .gitignore

# Ignore all data files
data/*
!data/.keep 

# Ignore Python cache and compiled files
__pycache__/
*.pyc
.pytest_cache/

# Ignore environment files
.env

# Ignore docs folder for now (might flag turn it in)
docs/*
!docs/.keep
